body {
  --file-line-width: 1200px;
}

/******************************************************/
/****************** HEADERS ***************************/
/******************************************************/

.HyperMD-header-1 {
  border-bottom: var(--h1-border)
}

/******************************************************/
/****************** CODE BLOCKS ***************************/
/******************************************************/

.HyperMD-codeblock {
  border-left: var(--code-block-border-thickness) solid
    var(--code-block-border-color) !important;
  border-right: var(--code-block-border-thickness) solid
    var(--code-block-border-color) !important;
}

.HyperMD-codeblock-begin {
  border-top: var(--code-block-border-thickness) solid
    var(--code-block-border-color) !important;
  border-top-left-radius: var(--code-block-radius) !important;
  border-top-right-radius: var(--code-block-radius) !important;
}

.HyperMD-codeblock-end {
  border-bottom: var(--code-block-border-thickness) solid
    var(--code-block-border-color) !important;
  border-bottom-left-radius: var(--code-block-radius) !important;
  border-bottom-right-radius: var(--code-block-radius) !important;
}

.external-link {
  background-image: none;
  padding-right: 0;
}
