.theme-dark, .theme-light {
  --code-block-radius: 7px;
  --code-block-border-thickness: 1px;
  --code-block-border-color: var(--neutral-700);
 
  --font-monospace: Dank Mono;
  --list-indent: 1.5em;

  /* Custom */
  /* --block-quote-padding: 0.5rem; */
}

.theme-dark {
  --text-normal: var(--neutral-300);
  --list-marker-color: var(--neutral-400);
  --link-external-color: var(--sky-200);
  --checkbox-color: var(--link-external-color);
  --bold-color: var(--emerald-200);
  /* --link-external-decoration: none; */

  --background-primary: var(--neutral-800);
  --background-secondary: var(--neutral-700);
  
  --h1-color: var(--emerald-300);
  --h1-border: 1px solid var(--emerald-300-50);
  --h1-weight: normal;

  --h2-color: var(--sky-200);
  --h2-weight: normal;
}

.theme-light {
  --background-primary: var(--stone-100);
  --background-secondary: var(--stone-200);
  --text-normal: var(--stone-900);
  --border-color: var(--stone-250);
  --table-border-color: var(--border-color);
  --link-external-color: var(--emerald-600);
  --blockquote-background-color: var(--stone-200);
  
  --code-normal: var(--stone-200);
  --code-background: var(--stone-800);

  --h1-border: 1px solid var(--border-color);
  --h1-weight: normal;

  --h2-color: var(--stone-600);
  --h2-weight: normal;

  --h3-color: var(--stone-600);
  --h3-weight: normal;

  --h4-color: var(--stone-600);
  --h4-weight: normal;
}
